
/* Fonts */
:root {
    --font-default: 'Cairo', sans-serif;
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Lato", sans-serif;
  }
  
  /* Global Colors */
  :root {
    --color-default: #212529;
    --color-default-rgb: 33, 37, 41;
    --color-background: #ffffff;
    --color-background-rgb: 255, 255, 255;
    --color-primary: #29AFEC;
    --color-primary-rgb: 41, 175, 236;
    --color-secondary: #00003D;
    --color-secondary-rgb: 50, 53, 58;
    --color-line:#D7D7D7D4;
    --color-head-txt:#035DA8;
    --color-txt-dark:#949494;
    --color-border:#D6D6D6;
    --color-input-bk:#F3F3F3;
    --color-cr:#E0E0E0;
    
  }
  
  /* Nav Menu Colors */
  :root {
    --color-nav: #3a3939;
    --color-nav-hover: #e84545;
    --color-nav-dropdown: #3a3939;
    --color-nav-dropdown-hover: #29AFEC;
    --color-nav-dropdown-background: #ffffff;
    --color-nav-mobile-background: #ffffff;
  }
  
  /* Smooth scroll */
  :root {
    scroll-behavior: smooth;
  }

  :root {

--logo-size:140px;
--fs-h3-stander: 26px;
--font-size-text-v1:14px;
--font-size-text-v2:17px;
--font-size-text-v3:24px;
--fs-span-mob-v1:12px;

  }